*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 7, 12);
}
.container{
    width: 60vh;
    /* border: 3px solid rgb(21, 0, 138); */
    height: 60vh;
    background-color: rgb(25, 25, 31);
    padding: 10px 0;
    border-radius: 20px;
}

.timer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.display{
    width: 60%;
    margin: 0 auto;
    border: 3px solid rgb(51, 50, 54);
    height: 60%;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
    padding: 10px;
    
}
.display .seg{
    font-size: 1.4rem;
}
.display p{
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.paus{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.iniciar,.parar,.pausar{
    padding: 10px 30px;
   
    background: none;
    color: gray;
    outline: none;
    cursor:pointer;
}
/* inicio botoes */
.iniciar{
    border: 1px solid rgb(1, 119, 40);
    transition: .3ms;
}
.iniciar:hover{
    background-color:  rgb(1, 119, 40);
    color:white;
    box-shadow: 0 10px 10px -6px rgb(7, 197, 70), 0 10px 20px -6px rgb(7, 197, 70);
}
.parar{
    border: 1px solid rgb(175, 0, 0);
    transition: .3ms;
}
.parar:hover{
    background-color:  rgb(170, 0, 0);
    color:white;
    box-shadow: 0 10px 10px -6px rgb(200, 5, 5), 0 10px 20px -6px rgb(203, 5, 5); ;
}

.pausar{
    border: 1px solid rgb(180, 123, 0);
    transition: .3ms;
}
.pausar:hover{
    background-color: rgb(180, 123, 0);
    color:white;
    box-shadow: 0 10px 10px -6px rgb(180, 123, 0), 0 10px 20px -6px rgb(175, 120, 0); ;
}
.resultado{
    color:white;
    margin-left: 50px;
    opacity: 0;
}
.resultado.ativo{
    opacity: 100%;
}

h1{
    color:white;
}